// カラーセット
$red: #DD2222 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
//
$cyan: #00BCD4 !default;
$blue: #2298FE !default;
$indigo: #4422DD !default;
//
$yellow: #FFEF44 !default;
$orange: #FE9800 !default;
$lime: #CDF200 !default;
//
$light_green: #8BC34A !default;
$green: #4CAF50 !default;
$teal: #009688 !default;
//
$blue-grey: #607D8B !default;
$grey: #9E9E9E !default;
//
$black: #000000 !default;
$white: #FFFFFF !default;
