@import "~@/scss/common/color.scss";

.st-footer__copyright {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;

  color: lighten($black, 20);
  background: lighten($grey, 20);

  font-size: smaller;
}
