@import "~@/scss/common/color.scss";
@import "~@/scss/mixin/break_point.scss";

.st-footer-menu {

  &__item {
    &:before {
      font-family: FontAwesome;
      content: '\f138';
      color: $white;
    }
  }

  &__text {
    color: $white;
    text-decoration: none;
    transition: color 350ms ease-out;

    &:hover {
      color: lighten($pink, 10);
    }
  }
}
