@import "~@/scss/common/color.scss";
@import "~@/scss/mixin/break_point.scss";
@import "~@/scss/structure/header/variables.scss";
@import "~@/scss/structure/header/logo.scss";
@import "~@/scss/structure/header/menu.scss";
@import "~@/scss/structure/header/hamburger_menu.scss";
@import "~@/scss/structure/header/sns_link.scss";

.st-header {
  background: lighten($grey, 30);
  border-bottom: 1px solid lighten($grey, 25);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header_height;
    padding: 0 8px;
  }
}
