@import "~@/scss/common/color.scss";
@import "~@/scss/mixin/break_point.scss";
@import "~@/scss/structure/header/variables.scss";
@import "~@/scss/structure/header/menu.scss";
@import "~@/scss/structure/header/hamburger_menu.scss";

.st-header {
  background: lighten($blue, 5);
  border-bottom: 1px solid lighten($grey, 25);

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: $header_height;
    padding: 0 8px;
  }

  &__logo {
    font-size: 24px;
    margin-right: auto;
    cursor: pointer;
  }
}
