@import "~@/scss/common/color.scss";

.st-header-logo {
  &__content {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  &__img {
    width: 52px;
    height: 52px;
    margin-right: 8px;

    //noinspection CssUnknownTarget
    background-image: url('~@/scss/image/logo.jpg');
    background-size: contain;
    border-radius: 100%;
  }

  &__name {
    color: lighten($black, 20);
    font-size: 20px;
  }
}
