@import "~@/scss/common/color.scss";
@import "~@/scss/mixin/break_point.scss";

$header_height: 64px !default;
$_menu_width: 140px !default;

.st-header {
  border-bottom: 1px solid lighten(map-get($base_colors, 'grey'), 25);

  &__content {
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: $header_height;
    padding: 0 8px;
  }

  &__logo {
    font-size: 24px;
    margin-right: auto;
    cursor: pointer;
  }

  // メニュー
  &__nav {
  }

  // 各リンク
  &__menu {
    display: flex;
    justify-content: space-around;

    &__item {
      display: flex;
      align-items: center;
      width: $_menu_width;
      height: $header_height;
      padding: 0 8px;
      transition: all 800ms 0s ease;
    }
  }
}

.st-header__menu__text {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  text-decoration: none;

  &_en {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
  }

  &_jp {
    display: block;
    text-align: center;
    font-size: 12px;
    transition: opacity 450ms ease, transform 450ms ease;
  }

  &:after {
    content: '';
    display: block;
    opacity: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: lighten(map-get($base_colors, 'red'), 10);
    transform: translate((($_menu_width - 16px) / 2) - (8px / 2), -10px);
    transition: opacity 450ms ease, transform 450ms ease;
  }
}

// マウスオーバー時のアニメーション
.st-header__menu__item:hover, .st-header__menu-current {
  .st-header__menu__text_jp {
    transform: translate(0, 10px);
    opacity: 0;
  }

  .st-header__menu__text:after {
    opacity: 1;
  }
}

// 携帯時の設定
@include lessThan(sm) {

  .st-header__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background: rgba(lighten(#000000, 10), 0.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 150px 0;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    animation: fade-out 800ms ease-in 0s;
    transition: none;

    &__item {
      visibility: hidden;
      opacity: 0;

      width: 100%;
      height: auto;
      padding: 0;
      pointer-events: auto;

      transition: none;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          $duration: (3 - $i) * 200ms + 200ms !default;
          animation: slide-out #{$duration} ease-in 0s;
        }
      }
    }

    &.open {
      visibility: visible;
      opacity: 1;
      animation: fade-in 200ms ease-out 0s;

      .st-header__menu__item {
        visibility: visible;
        opacity: 1;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            $duration: $i * 200ms + 200ms !default;
            animation: slide-in #{$duration} ease-out 0s;
          }
        }
      }

      .st-header__menu__text {
        display: block;
        width: 100%;
        position: relative;
        text-decoration: none;
        line-height: 64px;

        &_en {
          width: 100%;
          text-align: center;
          font-size: 18px;
          padding: 0;
        }
      }
    }
  }

  .st-header__menu__text {
    &_jp, &:after {
      display: none;
    }
  }

  // アニメーション
  @keyframes fade-in {
    0% {
      visibility: hidden;
      opacity: 0;
    }

    1% {
      visibility: visible;
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      visibility: visible;
      opacity: 1;
    }

    1% {
      visibility: visible;
      opacity: 1;
    }

    100% {
      visibility: hidden;
      opacity: 0;
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }

    1% {
      visibility: visible;
      opacity: 1;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      opacity: 1;
      visibility: visible;
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(200px);
    }
  }
}
