<!DOCTYPE html>
<head>
    <%- include('../templates/meta.ejs', {title: 'index page'}) %>
</head>
<html lang="ja">
<body>
<%- include('../templates/header.ejs') %>

<main>
    <p>index page</p>
</main>

<%- include('../templates/footer.ejs') %>
</body>
</html>
