@import "~@/scss/common/color.scss";

.subsection {
  padding-left: 24px;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: lighten($grey, 35);
    margin-bottom: 12px;
  }

  &__content {
    margin-bottom: 16px;
  }
}
