<footer class="st-footer">
    <div class="st-footer__content">
        <div class="st-footer__inner">
            <nav class="st-footer__nav">
                <ul class="st-footer-menu grid grid_justify-start">
                    <li class="st-footer-menu__item grid__col-12">
                        <a class="st-footer-menu__text" href="/">HOME</a>
                    </li>
                    <li class="st-footer-menu__item grid__col-12">
                        <a class="st-footer-menu__text" href="works">WORKS</a>
                    </li>
                    <li class="st-footer-menu__item grid__col-12">
                        <a class="st-footer-menu__text" href="contact">CONTACT</a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
    <small class="st-footer__copyright">
        Copyright &copy; 2020 Yuya Tomida. All Rights Reserved.
    </small>
</footer>
