<header class="st-header">
    <div class="st-header__content">
        <div class="st-header__inner">
            <div class="st-header__logo">

                <p class="st-header__logo">富田裕也</p>
            </div>
            <nav class="st-header__nav">
                <ul id="st-header__menu" class="st-header-menu">
                    <li class="st-header-menu__item">
                        <a class="st-header-menu__text" href="works">
                            <span class="st-header-menu__text_en">WORKS</span>
                            <span class="st-header-menu__text_jp">制作物</span>
                        </a>
                    </li>
                    <li class="st-header-menu__item">
                        <a class="st-header-menu__text" href="contact">
                            <span class="st-header-menu__text_en">CONTACT</span>
                            <span class="st-header-menu__text_jp">連絡先</span>
                        </a>
                    </li>
                    <li class="st-header-menu__item">
                        <a class="st-header-menu__text" href="about">
                            <span class="st-header-menu__text_en">ABOUT</span>
                            <span class="st-header-menu__text_jp">経歴</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <%- include('../modules/hamburger_menu.ejs') %>
        </div>
    </div>
</header>
