<div id="st-hamburger-menu" class="st-hamburger-menu">
    <div class="st-hamburger-menu__content">
        <span class="st-hamburger-menu__bar"></span>
        <span class="st-hamburger-menu__bar"></span>
        <span class="st-hamburger-menu__bar"></span>
    </div>
</div>
