@import "~@/scss/mixin/break_point.scss";

// 水平方向の整列
$_justify_contents: center, start, end,
space-around, space-between, space-evenly !default;

@each $justify_content in $_justify_contents {
  .grid_justify-#{$justify_content} {
    justify-content: $justify_content !important;
  }
}

// ブレークポイント有り
@each $break_point in lg, md, sm, xs {
  @include lessThan($break_point) {
    @each $justify_content in $_justify_contents {
      .grid_justify-#{$justify_content} {
        justify-content: $justify_content !important;
      }
    }
  }
}
